@charset "utf-8";

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

*{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: #53393e;
}

video, iframe, image{
    vertical-align: middle;
}

img, video{
    max-width: 100%;
}

ul, ol{
    list-style: none;
}

/*
font-family: 'Canela Text Trial', sans-serif;
font-family: 'Canela Trial', sans-serif;
font-family: 'Canela Condensed Trial', sans-serif;
font-family: 'Canela Deck Trial', sans-serif;
*/

body{
    font-family: 'Pretendard-Regular';
    font-size: 16px;
    line-height: 24px;
    color: #53393e;
}

/*header*/

#header{
    width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

/*gnb*/

#gnb{
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
}

#gnb li{
    padding: 30px;
}

#gnb .gt:hover{
    border-bottom: 2px solid #53393e;
    padding-bottom: 10px;
    transition: 0.3s;
}

/*icon*/

#icon{
    display: flex;
    flex-wrap: wrap;
}

#icon li{
    padding: 10px;
}

/*main_banner*/

.mb_next, .mb_prev{
    color: #53393e;
}

.mb_pag span{
    background-color: #53393e;
}

.main_banner{
    margin-bottom: 300px;
}


/*about*/

#about{
    width: 1320px;
    margin: 0 auto;
    padding-bottom: 200px;
}

.about_box{
    position: relative;
    height: 1100px;
}


.m1{
    position: absolute;
    z-index: 4;
    top: 50px;
    left: 30px;
}

.m2{
    position: absolute;
    z-index: 3;
    top: 250px;
    right: 30px;
}

.m3{
    position: absolute;
    z-index: 2;
    top: 550px;
    left: 30px;
}

.m4{
    position: absolute;
    z-index: 1;
    top: 750px;
    right: 30px;
}

/*about_text*/


.about_text_1{
    position: absolute;
    z-index: 5;
    top: 50px;
    left: 150px;
}

.title_1{
    font-size: 28px;
    font-family: 'Canela Trial', sans-serif;
    letter-spacing: 5px;
    color: #5e5190;
    font-weight: 500;
    padding-bottom: 30px;
}

.mt{
    text-align: center;
    padding-bottom: 30px;
    font-size: 16px;
    line-height: 24px;
    color: #53393e;
}

.pn{
    text-align: center;
    font-family: 'Canela Trial', sans-serif;
    font-size: 12px;
}

.pn span{
    font-size: 16px;
}

.pr_1{
    text-align: left;
    font-size: 14px;
    padding-left: 42px;
}

.pr_1 span{
    font-size: 18px;
}


.pr_2{
    text-align: left;
    font-size: 14px;
    padding-left: 37px;
}

.pr_2 span{
    font-size: 18px;
}



.about_text_2{
    position: absolute;
    z-index: 6;
    top: 50px;
    left: 150px;
}

.title_2{
    font-size: 28px;
    font-family: 'Canela Trial', sans-serif;
    letter-spacing: 5px;
    color: #53393e;
    font-weight: 500;
    padding-bottom: 30px;
}

/*button*/

.bt1{
    position: absolute;
    top: 240px;
    right: 50px;
    color: #53393e;
}

.bt1 a{
    border: 2px solid #53393e;
    background-color: #fff;
    padding: 10px 10px;
    transition: 0.5s ease;
}

.bt2{
    position: absolute;
    top: 240px;
    right: 30px;
    color: #53393e;
}

.bt2 a{
    border: 2px solid #53393e;
    background-color: #fff;
    padding: 10px 10px;
    transition: 0.5s ease;
}

.bt3{
    color: #53393e;
    text-align: center;
    padding: 30px 0;
}

.bt3 a{
    border: 2px solid #53393e;
    background-color: white;
    padding: 10px 10px;
    transition: 0.5s ease;
}

.bt1 a:hover{
    background-color: #53393e;
    color: #fff;
    transition: 0.5s ease;
}

.bt2 a:hover{
    background-color: #53393e;
    color: #fff;
    transition: 0.5s ease;
}

.bt3 a:hover{
    background-color: #53393e;
    color: #fff;
    transition: 0.5s ease;
}

/*title*/

.title{
    font-size: 34px;
    text-align: center;
    font-family: 'Canela Trial', sans-serif;
    font-weight: 500;
    padding-bottom: 30px;
    color: #53393e;
}

.sub_title{
    text-align: center;
    font-size: 24px;
    color: #53393e;
    padding-bottom: 50px;
}


/*collection*/

#collection{
    width: 1320px;
    margin: 0 auto;
    padding-bottom: 50px;
}

/*sub_banner*/

.sub_banner{
    width: 1320px;
    margin: 0 auto;
    margin-bottom: 250px;
}


/*video*/

#video{
    width: 1320px;
    margin: 0 auto;
    padding-bottom: 150px;
}

/*best_product*/

#best{
    width: 1320px;
    margin: 0 auto;
    padding-bottom: 150px;
}

.best_inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 50px;
}

.best_img{
    border: 2px solid #e798a3;
    border-radius: 200px 200px 0 0;
    width: 400px;
    height: 803px;
    overflow: hidden;
}

#best .best_img .bi:hover{
    transform: scale(1.1, 1.1);
}

.bi{
    transition: 0.5s;
}

.best_text{
    text-align: center;
    padding-top: 50px;
    font-family: 'Canela Trial', sans-serif;
}

.ht{
    padding-bottom: 10px;
}

.best_name{
    font-size: 24px;
    line-height: 24px;
    font-weight: 500;
}

.best_sub_name{
    font-size: 18px;
    line-height: 18px;
    font-weight: 300;
}

.best_number{
    font-size: 16px;
    line-height: 16px;
    font-weight: 300;
}

.price{
    font-size: 24px;
    line-height: 24px;
    font-family: 'Pretendard-Regular';
    padding-top: 10px;
}

/*footer*/

#footer{
    background: url(../images/footer.png) no-repeat center top;
}

.footer_inner{
    text-align: center;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 30px;
}

.footer_text{
    font-size: 14px;
    line-height: 24px;
    color: #53393e;
}

.footer_logo{
    padding-bottom: 20px;
}

/*btn*/

#btn{
    position: fixed;
    right: 80px;
    bottom: 80px;
}

#btn a img{
    display: flex;
    padding: 5px 0;
}

.btn_1 img:hover{
    transform: rotateY(360deg);
    transition: 1s;
}

.btn_2 img:hover{
    transform: rotateY(360deg);
    transition: 1s;
}

.btn_3 img:hover{
    transform: rotateY(360deg);
    transition: 1s;
}